$colors1 : rgb(189, 181, 175);
$colors2 : white;
$colors3 : #58402c;
$colors4 : rgb(126, 141, 185);
$colors5 : blue;
$colors6 : rgb(255, 231, 210);

$width80 : 80%;
$width100 : 100%;
$height70 : 70%;

$padding-right : 30px;
$padding: 10px;
$paddingU : 50px;

$margin: 15px;
$margin_auto : auto;
$margin-left : 50px;

$border-radius: 8px;

@mixin flexColumn {

  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexRowHeader {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flexRowUnd {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
