$colors1 : rgb(189, 181, 175);
$colors2 : white;
$colors3 : #58402c;
$colors4 : rgb(126, 141, 185);
$colors5 : blue;
$colors6 : rgb(255, 231, 210);
$colors7 : grey;

$width50 : 50%;
$width75 : 75%;
$width85 : 85%;
$width100 : 100%;
$widthPerc : calc(100% / 5 - 30px);
$height : 50%;
$height75 : 75%;
$height100 : 100%;
$heightImg: 405px;
$heightPerc: calc(100% / 3);
$heightFeed : 200px;

$padding-right : 30px;
$padding-rightFoot : 120px;
$padding: 10px;
$paddingU : 50px;
$paddingF : 125px 180px 35px;
$padding-left : 50px;

$margin: 15px;
$marginB: 30px;
$marginU: 50px;
$margin_auto : auto;
$margin-left : 50px;
$marginMax: 150px; 

$border-radius: 8px;
$border : 1px solid black;

$font-size40: 40px;

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColumnS {
  display: flex;
  flex-direction: column;
}

@mixin flexRowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flexRowUnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin flexRowUndU {
  display: flex;
  flex-direction: row;
  text-align: center;
}

@mixin flexFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin footerLink {
  list-style: none;
  text-decoration: none;
}

@mixin button {
  padding: $padding;
  background: $colors5;
  color: $colors2;
  border: none;
  border-radius: $border-radius;
}
