
div.feedback {

  width: $width100;
  margin-bottom: $marginU;

  color: $colors3;

  div.feedback-container {

    @include flexRowUnd;

    div.feedback-left {

      width: $width50;
      height: $height75;
      margin-top: $marginU;

      img {
        width: $width100;
        height: $height100;
      }
    }
    div.feedback-right {

      width: $width50;
      height: 200px;
      margin-bottom: $marginMax;

      div.feed-image img {
        width: $width75;
        height: $height100;
        padding: $paddingF;
      }
    }
  }
}
