
 div.footer {

   width: $width100;
   @include flexColumn;

   div.footer-container {

       width: $width85;
       height: $height75;

      @include flexFooter;
      padding: $paddingU;

       div.footer-left {
         width: $width50;
         @include flexFooter;
         padding-right: $padding-rightFoot;
       }

       div.footer-right {

        @include flexFooter;
         div.link-container {

             margin-right: $marginU;
             width: $widthPerc;

           ul {

               @include footerLink;
             li {

             }
           }
         }
       }
   }
 }
