
 div.footer {

   width: $width100;
   @include flexColumn;

   div.footer-container {

       width: $width75;
       height: $height75;
        @include flexFooter;

       div.footer-left {
         width: $width50;
         @include flexFooter;
         padding-right: $padding-rightFoot;
       }

       div.footer.right {

          list-style: none;
         div.link-container {

           @include flexFooter;
           ul {
               list-style: none;
             li {
               list-style: none;
             }
           }
         }
       }
   }
 }
