div.right {

  div.navbar {

    margin-left : $margin-left;

    span {

      padding-right : $padding-right;
      color: $colors1;

     }

    a {

      background: white;
      border: 1px solid blue;
      text-decoration: none;

      &:hover {

        background: blue;
        border: 1px solid white;
        color: $colors2;
      }

    }
  }
}
