
 div.see {

   width: $width100;
   background : $colors6;
   margin : $margin_auto;


   div.see_Teambit-container {

     width: $width75;
     @include flexColumn;
     margin: $margin_auto;

     blockquote {

       background: $colors2;
       border: $border;
     }

     div.buttons {

         @include flexRowUnd;

         #Google {
          @include button;
         }

         #Slack {
          @include button;
         }
     }
   }
}
