
 div.see {

   width: $width100;
   background : $colors6;
   margin : $margin_auto;


     div.see_Teambit-container {

       width: $width75;
       @include flexColumn;

       margin: $margin_auto;
       padding:$paddingF;

       h5 {
       margin-bottom: $marginU;
       font-size: $font-size40;
       color: $colors3;
       padding: $padding;
       }

       blockquote {

         width: $width75;

         margin: $margin_auto;
         margin-bottom: $marginU;
         padding: $paddingU;

         background: $colors2;
         border: $border;
         border-radius: $border-radius;

         div.b-quote__photo {
           margin-top: $marginB;
         }

         div.b-quote__cite {
          @include flexColumnS;

          span {
            color: $colors5;
          }
        }
      }

      div.buttons {

         @include flexRowUnd;

         #Google {
          @include button;
         }

         i {
           color: $colors7;
         }

         #Slack {
          @include button;
         }
      }

       span {
         margin-top: $marginU;
       }
     }
}
