
 div.see {

   width: $width100;
   background : $colors6;
   margin : $margin_auto;


     div.see_Teambit-container {

       width: $width75;
       @include flexColumn;
       margin: $margin_auto;
       padding:$paddingF;

       h5 {
       margin-bottom: $marginU;
       }

       blockquote {

         height: 90%;
         width: $width50;
         margin: $margin_auto;
         background: $colors2;
         border: $border;
         border-radius: $border-radius;
         margin-bottom: $marginU;
        }

       div.buttons {

           @include flexRowUnd;

           #Google {
            @include button;
           }

           i {
             color: grey;
           }

           #Slack {
            @include button;
           }
       }

       span {
         margin-top: $marginU;
       }
     }
}
