
 div.see_Teambit {

   width: $width100;
   background : $colors6;
   @include flexColumn;

   div.see_Teambit-container {

     width: $width80;
     height: $height70;

     div.buttons {

         @include flexRowUnd;

         #Google {
          @include button;
         }

         #Slack {
          @include button;
         }
     }
   }
}
