
div.survey {

   width: $width100;
   margin-bottom: $marginU;

   color: $colors3;

   div.survey-container {

      @include flexRowUnd;
      margin: $margin_auto;
      width: $width100;

      div.survey-left {
      margin: $margin_auto;
      width: $width50;

        div.survey-left-img {

           width: $width100;
           height: $heightImg;

           img {
               width: $width100;
               height: $height100;
               padding: $paddingF;
           }
        }
      }

      div.survey-right {
          width: $width50;
          margin: $margin_auto;

          div.survey-right-img {

            width: $width100;
            height: $heightImg;

            img {
                width: $width100;
                height: $height100;

            }
          }
      }
   }
}
