
div.survey {

   width: $width100;

   div.survey-container {

      @include flexRowUnd;

      width: $width75;

      div.surveys-left {
          width: $width50;
        }

      div.surveys-right {

          width: $width50;
          height : $height75;

          div.survey-right img {

             width: $width100;
             height: $height100;
          }
        }
   }
}
