
div.traditional {

  width: $width100;
  background: $colors6;

  div.traditional-container {

    @include flexColumn;
    justify-content: center;
    width: $width80;
    margin: $margin_auto;

    div.three-items-row {

      @include  flexRowUnd;
      height: calc(100% / 3);
      width: $width80;

      div {

          padding: $padding;

          img {

            width: $width80;
          }
      }
    }
    div.one-item-row {

      @include  flexRowUnd;
      height: calc(100% / 7);
      width: $width80;
      border: 1px solid $colors1;

      div {

          padding: $padding;

          img {

              width: $width80;
              height: 70%;
          }
      }
    }
  }
}
