
div.traditional {

  width: $width100;
  background: $colors6;
  color: $colors3;

  div.traditional-container {

    @include flexColumn;
    justify-content: center;
    width: $width75;
    margin: $margin_auto;
    padding: $paddingU;

    div.three-items-row {

      @include  flexRowUnd;
      height: calc(100% / 3);
      width: $width75;

      div {
          padding: $padding;
          margin: $marginB;

          img {
            width: $width75;
          }
      }
    }
    div.one-item-row {

      @include  flexRowUnd;

      width: $width75;
      border-bottom: 1px solid $colors1;

      div {

          img {
              width: $width75;
              height: $height75;
              padding: $paddingU;
          }
      }
    }
    span {
      font-size: $font-size40;
    }
  }
}
