
div.traditional {

  width: $width100;
  background: rgb(255, 231, 210);

  div.traditional-container {

    @include flexColumn;
    justify-content: center;
    width: $width80;
    margin: $margin_auto;

    div.three-items-row {

      @include  flexRowUnd;
      height: calc(100% / 3);
      width: $width80;

      div {

          width: calc(100% / 5 - margin : $margin);
          padding: $padding;

          img {

            width: $width80;
          }
      }
    }
  }
}
