div.understand {


    @include flexRowUndU;
    width: $width75;
    margin: $marginU;

  div.understand-left {

     margin: $margin;
     
     div.buttons {

         @include flexRowUnd;

         #Google {
          @include button;
         }

         #Slack {
          @include button;
         }
     }
  }
  div.understand-right {

    width: $width100;

    img {
      width: $width100;
    }
  }
}
