div.understand {

    @include flexRowUnd;
    width: $width75;

  div.understand-left {

     margin: $margin;
     padding: $paddingU;

     div.buttons {

         @include flexRowUnd;

         #Google {
          @include button;
         }

         #Slack {
          @include button;
         }
     }
  }
  div.understand-right {

    width: $width100;

    img {
      width: $width100;
    }
  }
}
